<?xml version="1.0"?>
<robot xmlns:xacro="http://www.rog.org/wiki/xacro" name="first_robot">
   <xacro:include filename="$(find ch6_bot_desc)/urdf/fishbot/common_inertial.xacro"/>

   <xacro:macro name="caster_xacro" params="caster_name xyz">
   <!-- 机器人轮子部分 -->
      <link name="${caster_name}_link">
         <!-- 部件外观描述 -->
         <visual>
            <!-- 相对自己几何中心的偏移和旋转 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
               <sphere radius="0.016"/>
            </geometry>
            <!-- 材质颜色 -->
            <material name="yello">
               <color rgba="1.0 1.0 0.0 0.8"/>
            </material>
         </visual>
         <collision>
            <!-- 相对自己几何中心的偏移和旋转 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
               <sphere radius="0.016"/>
            </geometry>
            <!-- 材质颜色 -->
            <material name="yello">
               <color rgba="1.0 1.0 0.0 0.8"/>
            </material>
         </collision>
         <xacro:sphere_inertia m="0.05" r="0.016"/>
      </link>

      <!-- 关节 -->
      <joint name="${caster_name}_joint" type="fixed">
         <parent link="base_link"/>
         <child link="${caster_name}_link"/>
         <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
      </joint>

      <gazebo reference="${caster_name}_link">
         <mu1 value="0.0"/>
         <mu2 value="0.0"/>
         <kp value="1000000000.0"/>
         <kd value="1.0"/>
      </gazebo>
   </xacro:macro>
</robot>